body
	background: $main
	.home
		h1
			color: $whites
		.input
			.input-img
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				height: 100%
				p
					font-size: 1.3rem
					font-weight: 500
					margin-bottom: .5rem
				input
					width: 50%
					padding: .2rem
					padding-left: 1rem
					&#inputImage
						margin-bottom: 3rem
				#keyAPI
					display: none
			.img
				img
					max-width: 200px
		.output
			h2
				color: $whites
			.UIInput
				min-width: 500px
				min-height: 500px
	.face2face
		input
			min-width: 300px
			padding-left: 1rem
